body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    color: red;
    font-size: 30;
}

h2 {
    color: lightblue;
    font-size: 25;
}

h3 {
    color: pink;
    font-size: 20;
}

p {
    color: blue;
    font-size: 18px;
}

ol{
    color: #53dd71;
}

ul{
color: #a9e028;
}
 dl{
    color: #a5842a;
 }
 table{
    color: #fa053a;
 }

 /*Selector de clase*/
 .highlight {
    background-color: yellow;
    color: black;
 }

 /*Selector de Atributo*/
 input [type="text"]{
    border: 2px solid pink;
 }

 /*Selector de ID*/
 #header{
    font-size: 25px;
    text-align: center;
    color: pink;
 }

 label{
    color: lightblue;
}

 h4{
    font-size: 15px;
    color: green;
 }

 h6{
    font-size: 10px;
    color: purple;
 }

 header{
    background-color: #c5f5c3;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;

 }

nav{
    background-color: plum;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
ul{
    text-align: center;
    width: 80%;
    height: 90px;
    padding: 15px;
    margin: 40px 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

li{
    justify-content: right;
    margin: 5px 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #fff3d6;
}
 
section {
    grid-row: 1;
    min-width: 300px;
    background-color: #e8b0e4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

article{
  background-color: #4db6c4;
  padding: 15px;
  border-radius: 5px;
}

aside{
    grid-row: span 2;
    background-color: #f7a290;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 200px;
}

aside a{
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

aside a:hover{
    background-color: #ddd;
}

footer{
    grid-row: 4;
    background-color: burlywood;
    color: #fff;
    text-align: center;
    padding: 1em;
}

#video{
    width: 200px;
    height: 150px;
    border-radius: 10px;
}

div{
    position: static;
}