h1 {
    color: red;
    font-size: 30;
}

h2 {
    color: lightblue;
    font-size: 25;
}

h3 {
    color: pink;
    font-size: 20;
}

p {
    color: blue;
    font-size: 18px;
}

ol{
    color: #53dd71;
}

ul{
color: #a9e028;
}
 dl{
    color: #a5842a;
 }
 table{
    color: #fa053a;
 }

 /*Selector de clase*/
 .highlight {
    background-color: yellow;
    color: black;
 }

 /*Selector de Atributo*/
 input [type="text"]{
    border: 2px solid pink;
 }

 /*Selector de ID*/
 #header{
    font-size: 25px;
    text-align: center;
    color: pink;
 }

 label{
    color: lightblue;
}

 h4{
    font-size: 15px;
    color: green;
 }

 h6{
    font-size: 10px;
    color: purple;
 }

 header{
    width: 950px;
    height: 90px;
    text-align: center;
    padding: 25px;
    margin: 10px;
    border: 2px solid red;
    box-sizing: border-box;

 }

nav{
    width: 400px;
    height: 90px;
    text-align: center;
    padding: 30px;
    margin: 10px;
    border: 2px solid black;
    box-sizing: content-box;
}
ul{
    text-align: center;
    width: 80%;
    height: 90px;
    padding: 15px;
    margin: 40px 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

li{
    justify-content: right;
}

main {
    padding: 9px;
    margin: 130px 20px;
    border: 2px solid purple;
    box-sizing: border-box;
    border-radius: 5px;
}
 
section  #inicio{
    text-align: center;
    width: 300px;
    height: 100px;
    padding: 20px;
    margin: 15px;
    border: 2px solid orange;
    box-sizing: border-box;
    border-radius: 5px;
}

article{
  width: 320px;
  height: 50px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}

aside{
    text-align: center;
    width: 800px ;
    height: 200px;
    padding: 30px;
    margin: -90px 400px;
    border: 2px solid brown;
    box-sizing: border-box;
}

footer{
    text-align: center;
    width: 600px;
    height: 120px;
    padding: 20px;
    margin: 15px;
    border: 2px solid purple;
    box-sizing: border-box;
    border-radius: 50px;
}
