h1 {
    color: red;
    font-size: 30;
}

h2 {
    color: lightblue;
    font-size: 25;
}

h3 {
    color: pink;
    font-size: 20;
}

p {
    color: blue;
    font-size: 18px;
}

ol{
    color: #53dd71;
}

ul{
color: #a9e028;
}
 dl{
    color: #a5842a;
 }
 table{
    color: #fa053a;
 }

 .highlight {
    background-color: yellow;
    color: black;
 }
 